/vrtual_env
*.py[cod]
__pycache__/
*.sqlite3
*/migrations/*
!*/migrations/__init__.py
/media/
/staticfiles/
*.log
*.egg
*.egg-info
dist/
build/
settings_local.py
.vscode/
.idea/
*.iml
**/__pycache__/
